section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
p{
    margin: 5px;
    padding: 10px 20px;
    border: 1px solid black;
}
p:hover{
    background-color: blue;
    color: white;
}