@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik+Mono+One&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: rgb(256, 256, 256);
  background-image: url("https://www.nasa.gov/sites/all/themes/custom/nasatwo/images/starfield-banner.jpg");
  background-color: rgb(0, 0, 0);
}
.titulo-principal {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 2;
}
.titulo-secundario {
  font-size: 22px;
}
.span-titulo-secundario,
a {
  color: rgb(254, 188, 50);
}
.paragrafo-titulo {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  opacity: 0.8;
}
