.container {
  display: flex;
  justify-content: center;
}
.box {
  height: 80px;
  width: 80px;
  border: 1px solid black;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
